<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Form</title>
<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	<br />
		<p th:text="${result}"></p>
		<form class="form-signin" method="post" th:action="@{'/manage/update'}">
			<h2 class="form-signin-heading">Please login</h2>
			<input type="text" class="form-control" name="old-password"
				placeholder="UserId" required="" autofocus="" /> <input
				type="text" class="form-control" name="password"
				placeholder="Password" required="" /> <input
				type="text" class="form-control" name="password-retype"
				placeholder="Password" required="" />
			</label>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</div>
</body>

</html>