<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Rtina</title>
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="row">
			<div class="col-md-3 offset-md-1 text-center">
				<form role="form" id="todo" th:action="@{/todo}" method="get">
					<button class="btn btn-outline-light" type="submit">TODO</button>
				</form>
			</div>
			<div class="col-md-3 offset-md-4 text-center">
				<form role="form" id="logout" th:action="@{/logout}" method="post">
					<button class="btn btn-outline-light" type="submit">ログアウト</button>
				</form>
			</div>
		</div>
	</header>
	<div class="container">
		<br /><section id="title">
			<div class="row ">
				<div class="col-md-6 offset-md-3 text-center">
					<h1>ユーザ情報変更</h1>
				</div>
			</div>
		</section>
		<div class="col-md-6 offset-md-3"　>
			<p th:text="${result}"></p>
			<form class="form-signin" method="post" th:action="@{'/manage'}">
				<input type="text" class="form-control" name="password"
					placeholder="現在のパスワード" required="" autofocus="" /> <input
					type="text" class="form-control" name="password-new"
					placeholder="新しいパスワード" required="" /> <input type="text"
					class="form-control" name="password-retype"
					placeholder="新しいパスワード(再入力)" required="" /> </label> <br>

				<div class="col-md-4 offset-md-4">

					<button class="btn btn-lg btn-primary btn-block" type="submit"
						name="update">更新</button>
				</div>
			</form>
			<br>
			<form class="form-signin" method="post" th:action="@{'/manage'}">
				<div class="col-md-4 offset-md-4">

					<button class="btn btn-lg btn-primary btn-block" type="submit"
						name="delete">削除</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>