<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Rtina</title>
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<br />
	<br />
	<div class="container">
		<br />
		<section id="title">
			<div class="row ">
				<div class="col-md-6 offset-md-3 text-center">
					<h1>TODO</h1>
				</div>
			</div>
		</section>
		<br /> <br /> <br /> <br /> <br /> <br />
		<div class="row">
			<div class="col-md-6 offset-md-3"　>
				<form class="form-signin" method="post" th:action="@{'/register'}"
					id="register">
					<div class="form-inline">
						<label class="col-md-3">ID:</label><input type="text"
							class="form-control col-md-9" name="userid" required="" />
					</div>
					<br />
					<div class="form-inline">
						<label class="col-md-3">Pass:</label><input type="password"
							class="form-control col-md-9" name="password" required="" />
					</div>
					<br />

					<div class="form-inline">
						<label class="col-md-3">生年月日:</label><input type="birthday"
							class="form-control col-md-9" name="birthday" required="" />
					</div>
					<br />

					<div class="form-inline">
						<label class="col-md-3">名前:</label><input type="username"
							class="form-control col-md-9" name="username" required="" />
					</div>
				</form>
				<br />
				<div class="row">
					<div class="col-md-4 offset-md-1">
						<form method="get" th:action="@{'/login'}">
							<button class="btn btn-lg btn-outline-primary btn-block" type="submit">ログインへ</button>
						</form>
					</div>
					<div class="col-md-4 offset-md-2">
						<button class="btn btn-lg btn-primary btn-block" form="register"
							type="submit">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>