<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Rtina</title>
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="row">
			<div class="col-md-3 offset-md-1 text-center">
				<img src="/img/logo_blue.png" th:src="@{/img/logo_blue.png}"
					class="img-fluid"></img>
			</div>
			<div class="col-md-3 offset-md-4 text-center">
				<form role="form" id="logout" th:action="@{/login}" method="get">
					<br>
					<button class="btn btn-outline-light" type="submit">ログイン</button>
				</form>
			</div>
		</div>
	</header>
	<br />
	<br />
	<div class="container">

		<section id="title">
			<div class="row ">
				<div class="col-md-6 offset-md-3 text-center">
					<h1>ユーザ登録</h1>
				</div>
			</div>
		</section>
		<div class="row">
			<div class="col-md-6 offset-md-3"　>
				<p th:text="${result}"></p>
				<form class="signup" method="post" th:action="@{'/signup'}">
					<input type="text" class="form-control" name="userid"
						placeholder="ユーザID" /> <input type="password"
						class="form-control" name="password" placeholder="パスワード"
						required="" /> <input type="password" class="form-control"
						name="password-retype" placeholder="パスワード(再入力)" required="" />
					<div class="col-md-4 offset-md-4">
						<button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>