<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Form</title>
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="row">
			<div class="col-md-3 offset-md-1 text-center">
				<form role="form" id="manage" th:action="@{/manage}" method="get">
				</form>
			</div>
			<div class="col-md-3 offset-md-4 text-center">
				<form role="form" id="logout" th:action="@{/login}" method="get">
					<button type="submit">ログイン</button>
				</form>
			</div>
		</div>
	</header>
	<div class="container">
		<br />
		<p th:text="${result}"></p>
		<form class="signup" method="post" th:action="@{'/signup'}">
			<h2 class="form-signin-heading">新規登録フォーム</h2>
			<input type="text" class="form-control" name="userid"
				placeholder="userid" /> <input
				type="password" class="form-control" name="password"
				placeholder="Password" required="" /> <input type="password"
				class="form-control" name="password-retype"
				placeholder="retype-Password" required="" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</div>
	<p th:text="${menu}" />
	<section id="list">
		<div class="row ">
			<div class="table-responsive col-md-10 offset-md-1">
				<table class="table table-bordered">
					<tr>
						<th>内容</th>
						<th>編集</th>
						<th>完了</th>
					</tr>
					<tr th:each="user:${list}" th:object="${user}">
						<td th:text="*{userid}"></td>
						<td>update</td>
						<td>exit</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</body>

</html>